<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tesing App</title>
  </head>
  <body>
    <h1>Heading</h1>
    <% data.forEach(element => { %>
    <div
      style="
        /* display: flex; */
        justify-content: evenly;
        border: 1px solid black;
        padding: 3px;
        width: 250px;
        height: 400px;
      "
    >
      <h2><%= element.name %></h2>
      <img
        src="<%= element.imgUrl %>"
        alt=""
        srcset=""
        width="50px"
        height="auto"
      />
      <a href="<%= element.downloadUrl %>">Download</a>
    </div>
    <% }); %>
  </body>
</html>
